
*.min.js
typings
/node_modules
/miniprogram_npm
/assets
/service
.husky/
**/vant/*
/utils/cryptojs.js
/utils/md5.js
/utils/toBase64.js
/utils/rangers.js
/packageDiscover/wxParse
/sub-package/common-package/js/lottie-miniprogram/index.js
/pages/component/circle-progress-bar/*
/pages/component/mui
/plugin
/utils
/distribution-network/addDevice/pages/inputWifiInfo
/distribution-network/addDevice/pages/linkNetFail