/* eslint-disable */

var isTrue = function (str, awardsInfo, basicItem) {
  var flag = false
  if (
    str == 'actionReceive' &&
    awardsInfo.status == 0 &&
    basicItem.custom == 1 &&
    (awardsInfo.type == 3 || awardsInfo.type == 4 || awardsInfo.type == 9)
  ) {
    flag = true
  }
  if (
    str == 'actionCheckCharge' &&
    (awardsInfo.status == 5 || awardsInfo.status == 3 || awardsInfo.status == 2) &&
    basicItem.custom == 2 &&
    awardsInfo.type == 9
  ) {
    flag = true
  }
  if (
    str == 'actionViewCard' &&
    (awardsInfo.status == 1 || awardsInfo.status == 2) &&
    basicItem.custom == 2 &&
    awardsInfo.type != 9
  ) {
    flag = true
  }
  if (str == 'actionLaunchApp' && awardsInfo.status == 0 && basicItem.custom == 1 && awardsInfo.type == 1) {
    flag = true
  }
  return flag
}
module.exports = {
  isTrue: isTrue,
}
