/* eslint-disable */

var getStyle = function (object) {
  var str = ''
  if (object.bgImgUrl) {
    str += 'background-image:url(' + object.bgImgUrl + ');'
  }
  if (object.height) {
    str += 'height:' + object.height + 'rpx;'
  }
  if (object.width) {
    str += 'width:' + object.width + 'rpx;'
  }
  return str
}
module.exports = {
  getStyle: getStyle,
}
